<!DOCTYPE html>
<html ng-app="smsApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SMS Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Sms Web App" />
	<style>
		* {
			margin: 0;
		}
		html, body {
			height: 100%;
		}
		.wrapper {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -100px;
		}
		footer, .push {
			height: 100px;
		}
	</style>
</head>
    <body ng-controller="mainController">
        <div class="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div style="float: right">
                                <ul class="nav navbar-nav">
                                    <li><a href="/Account/Logout">Logout</a></li>
                                </ul>
                        </div>
                    }


                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SMS Web", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/#/">Home</a></li>
                            <li><a href="/#/send">Send</a></li>
                            <li><a href="/#/inbox">Inbox</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                <div id="main">
                    @RenderBody()
                    <div class="push"></div>
                </div>
            </div>
        </div>
        <footer style="color: lightgray">
            <div class="container">
                <hr />
                <div style="float: right">
                    <button title="{{$root.ConnectionStatus}}" class="btn btn-default">
                        <span class="glyphicon" ng-class="$root.ConnectionStatusIcon" />
                    </button>
                </div>
                <p>© 2014 - James Parker</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/Libraries/angular.js")
        @Scripts.Render("~/Scripts/Libraries/angular-route.js")
        @Scripts.Render("~/Scripts/Libraries/angular-animate.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
